@mobile-width: 320px;
@tablet-width: 700px;
@desktop-width: 1200px;

@color-white: #ffffff;
@color-white-transp: rgba(255, 255, 255, 0.3);
@color-white-dark: #f2f2f2;
@color-black: #000000;
@color-black-transp: rgba(0, 0, 0, 0.3);
@color-blue: #1d2631;
@color-blue-dark: #283645;
@color-blue-dark-transp: rgba(40, 54, 69, 0.1);
@color-pink-dark: #d22856;
@color-pink-dark-transp: rgba(210, 40, 86, 0.3);
@color-green: #2aab6d;

@font-family: 'Open Sans', Arial, sans-serif;
@fs-12: 12px;
@fs-14: 14px;
@fs-18: 18px;
@fs-20: 20px;
@fs-21: 21px;
@fs-24: 24px;
@fs-30: 30px;
@fs-40: 40px;
@fs-50: 50px;

@lh-18: 18px;
@lh-24: 24px;
@lh-30: 30px;
@lh-32: 32px;
@lh-36: 36px;
@lh-40: 40px;
@lh-50: 50px;
@lh-60: 60px;
