@tablet-width: ~"(min-width: 700px)";
@desktop-width: ~"(min-width: 1200px)";

@color-white: #ffffff;
@color-black: #000000;
@color-blue-dark: #283645;
@color-grey-light: #f2f2f2;
@color-green: #2aab6d;
@color-pink: #de6183;

@font-family-main: opensans, Arial, sans-serif;
@font-size-extra-small: 12px;
@font-size-small: 14px;
@font-size-main: 18px;
@font-size-big: 24px;
@font-size-title-min: 30px;
@font-size-title-big: 40px;
