body {
  min-width: 280px;
  max-width: 1320px;
  margin-top: 0;
  margin-bottom: 1300px;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  color: @color-blue-dark;
  font-family: opensans, Arial, sans-serif;
}
