.advantages {
  font-family: opensans, Arial, sans-serif;
  background: @color-grey-light url('../../img/iphone-screen-mobile@1x.png') no-repeat center bottom;
}

.advantages__promo-wrap {
  background: @color-white;
}

.advantages__promo {
  font-size: 24px;
  font-weight: 100;
  line-height: 1.4;
}

.advantages__item-wrap::before {
  content: '';
  display: block;
  height: 100px;
  background: url('../../img/bg-triangle-white.svg') no-repeat left top;
}

.advantages__item {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}

.advantages__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}
