.advantages {
  font-family: @font-family-main;
  background: @color-grey-light;

  &__item-wrap::before {
    content: '';
    display: block;
    height: 30px;
    background: url('../../img/bg-triangle-white.svg') no-repeat left -65px;
  }

  &__item-wrap::after {
    content: '';
    display: block;
    height: 330px;
    background: url('../../img/iphone-screen-mobile@1x.png') no-repeat center 50px;
  }

  &__promo-wrap {
    padding: 20px;
    text-align: center;
    background: @color-white;
  }

  &__promo {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: @font-size-big;
    font-weight: 100;
    line-height: 1.4;
  }

  &__item-wrap {
    padding: 0;
    text-align: center;
  }

  &__item {
    margin: 20px;
    font-size: @font-size-small;
    font-weight: normal;
    line-height: 1.7;
  }

  &__title {
    color: @color-black;
    font-size: @font-size-main;
    font-weight: bold;
    line-height: 1.33;
  }
}










