.button {
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid white;
  border-radius: 30px;
  font-family: opensans, Arial, sans-serif;
  text-decoration: none;
}

.button--download {
  padding: 20px 35px;
  border: 3px solid white;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
}

.button--download:visited {
  color: @color-white;
}
