.contacts-info {
  margin: 0;
  padding: 20px;
  text-align: center;
  &__title {
    font-size: @fs-24;
    line-height: @lh-24;
    font-weight: 100;
  }
  &__item {
    font-size: @fs-14;
    line-height: @lh-18;
    font-weight: bold;
  }
  &__data {
    font-size: @fs-24;
    line-height: @lh-24;
    font-weight: 100;
    text-decoration: none;
    color: @color-pink-dark;
  }
}
