.contacts-info {
  text-align: center;
  margin-bottom: 20px;
  &__title {
    font-size: @fs-24;
    line-height: @lh-24;
    font-weight: 100;
    margin: 0 auto;
    padding: 40px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 20px;
  }
  &__item {
    font-size: @fs-14;
    line-height: @lh-18;
    font-weight: bold;
    padding: 0 20px;
    margin-bottom: 20px;
    width: 240px;
    & h3 {
      margin: 5px 0;
    }
  }
  &__data {
    font-size: @fs-24;
    line-height: 1.2;
    font-weight: 100;
    text-decoration: none;
    color: @color-pink-dark;
  }
  &__data:hover {
    color: @color-blue-dark;
    text-decoration: underline;
  }
  &__data:active {
    color: rgba(40, 54, 69, 0.3);
    text-decoration: none;
  }
}

.contacts__map {
  margin: 0 auto;
  width: auto;
  height: 200px;
  background: @color-white url("../img/bg-map-mobile@1x.png") no-repeat center 0;
  background-size: cover;
}

@media (min-width: @tablet-width) {
  .contacts-info {
    padding: 0 40px;
    &__title {
      font-size: @fs-40;
      line-height: 1.2;
    }
    &__item {
      font-size: @fs-18;
      line-height: 1.2;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts-info {
    margin-bottom: 0;
    padding: 40px 130px;
    &__title {
      font-size: @fs-50;
      line-height: 1.2;
    }
    &__item:nth-child(2) {
      order: 3;
    }
  }
}
