.contacts {
  font-family: @font-family;
  background-color: @color-white;
  &__title {
    font-size: @fs-24;
    line-height: @lh-24;
    font-weight: 100;
    color: @color-blue-dark;
  }
  &__item {
    font-size: @fs-18;
    line-height: @lh-18;
    font-weight: bold;
    color: @color-blue-dark;
  }
  &__tel,
  &__email,
  &__address {
    font-size: @fs-24;
    line-height: @lh-24;
    font-weight: 100;
    text-decoration: none;
    color: @color-pink-dark;
  }
}
