.custom-user-photo {
  &__title {
    font-size: @fs-14;
    line-height: @lh-30;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 20px;
    padding-bottom: 40px;
  }
  &__wrapper {
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    background-color: @color-white-dark;
  }
  & input[type="radio"] {
    display: none;
  }
  &__mobile {
    width: 240px;
    margin: 0 auto;
    padding: 40px;
    border-bottom: 1px solid lightgray;
    &--inputs {
      display: flex;
      justify-content: space-around;
    }
    &--slider {
      position: relative;
      height: 2px;
      margin-top: 28px;
      background-color: @color-blue-dark;
    }
    &--toggle {
      position: absolute;
      top: -6px;
      left: 80%;
      width: 10px;
      height: 10px;
      background-color: @color-white;
      border: 2px solid @color-pink-dark;
      border-radius: 50%;
    }
  }
  & .crop-radio-indicator,
    .fill-radio-indicator,
    .contrast-radio-indicator {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  & .crop-radio-indicator {
     background: url("../img/icon-editor-crop.svg") no-repeat center center;
   }
  & .fill-radio-indicator {
    background: url("../img/icon-editor-fill.svg") no-repeat center center;
  }
  & .contrast-radio-indicator {
    background: url("../img/icon-editor-contrast.svg") no-repeat center center;
  }
  &__btns {
    padding: 30px 0;
  }
  &__btn {
    display: block;
    font-size: @fs-18;
    line-height: @lh-18;
    font-weight: bold;
    color: @color-pink-dark;
    background-color: @color-white-dark;
    box-sizing: border-box;
    border: 3px solid @color-pink-dark;
    border-radius: 28px;
    width: 280px;
    min-height: 56px;
    margin: 10px auto;
  }
  &__delete {
    color: @color-blue-dark-transp;
    border-color: @color-blue-dark-transp;
  }
}

input[id="crop-radio-editor"]:checked + .crop-radio-indicator {
  background: url("../img/icon-editor-crop--active.svg") no-repeat 0 0;
}
input[id="fill-radio-editor"]:checked + .fill-radio-indicator {
  background: url("../img/icon-editor-fil--active.svg") no-repeat 0 0;
}
input[id="contrast-radio-editor"]:checked + .contrast-radio-indicator {
  background: url("../img/icon-editor-contrast--active.svg") no-repeat 0 0;
}

@media (min-width: @tablet-width) {
  .custom-user-photo {
    &__title {
      font-size: @fs-18;
      padding: 40px;
      padding-bottom: 80px;
    }
    &__wrapper {
      padding: 60px 40px;
      display: flex;
    }
  }
}

@media (min-width: @desktop-width) {
  .custom-user-photo {
    &__title {
      padding: 20px 130px;
      padding-bottom: 60px;
    }
    &__wrapper {
      margin: 0 130px;
      padding: 60px 80px;
    }
  }
}
