.custom-user-photo {
  &__title {
    font-size: @fs-14;
    line-height: @lh-30;
    font-weight: normal;
    text-align: center;
    padding: 50px 20px;
  }
  &__wrapper {
    text-align: center;
    padding: 20px;
    background-color: @color-white-dark;
  }
  &__btn {
    display: block;
    font-size: @fs-18;
    line-height: @lh-18;
    font-weight: bold;
    color: @color-pink-dark;
    background-color: @color-white-dark;
    box-sizing: border-box;
    border: 3px solid @color-pink-dark;
    border-radius: 28px;
    width: 280px;
    min-height: 56px;
    margin: 20px auto;
  }
  &__delete {
    color: @color-blue-dark-transp;
    border-color: @color-blue-dark-transp;
  }
}
