.download-app {
  color: @color-white;
  background-color: @color-blue;
  &::before {
    content: "";
    display: block;
    height: 458px;
    background-color: @color-blue;
    background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 40% bottom, center center;
  }
  &__content {
    max-width: 320px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  &__title {
    display: none;
  }
  &__btn {
    display: block;
    font-size: @fs-18;
    line-height: @lh-18;
    font-weight: bold;
    text-decoration: none;
    color: @color-white;
    box-sizing: border-box;
    border: 3px solid @color-white;
    border-radius: 28px;
    min-width: 280px;
    max-width: 320px;
    margin: 0 auto;
    padding: 15px;
  }
  &__links {}
  &__text {
    font-size: @fs-14;
    line-height: @lh-24;
    font-weight: 100;
    color: @color-white;
  }
}

@media (min-width: @tablet-width) {
  .download-app {
    background-color: @color-blue;
    background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 70% bottom, center center;
    background-size: auto, cover;
    &::before {
      content: none;
    }
    &__content {
      width: 300px;
      margin-right: 60%;
      padding: 40px;
      padding-top: 150px;
    }
    &__title {
      display: block;
      font-size: @fs-40;
      line-height: @lh-40;
      font-weight: 100;
      padding: 20px 50px;
    }
    &__text {
      font-size: @fs-18;
    }
  }
}

@media (min-width: @desktop-width) {
  .download-app {
    background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 70% bottom, center center;
    background-size: auto, cover;
    &::before {
      content: none;
    }
    &__content {
      width: 300px;
      margin-left: 90px;
      margin-right: auto;
      padding: 40px;
      padding-top: 150px;
    }
    &__title {
      display: block;
      font-size: @fs-50;
      line-height: @lh-50;
      padding: 20px;
    }
    &__btn {
      font-size: @fs-21;
      max-width: 340px;
    }
  }
}
