.download-app {
  color: @color-white;
  background-color: @color-blue;
  &__image {
    background: url("../../img/bg-back-mobile@1x.jpg") no-repeat center 0;
  }
  &__content {
    padding: 20px;
    text-align: center;
  }
  &__title {}
  &__title--hidden {
    display: none;
  }
  &__btn {
    display: block;
    font-size: @fs-18;
    line-height: @lh-18;
    font-weight: bold;
    text-decoration: none;
    color: @color-white;
    box-sizing: border-box;
    border: 3px solid @color-white;
    border-radius: 28px;
    width: 280px;
    height: 56px;
    margin: 0 auto;
    padding: 15px;
  }
  &__links {}
  &__text {
    font-size: @fs-14;
    line-height: @lh-24;
    font-weight: 100;
    color: @color-white;
  }
}
