.features {
  background-color: @color-white-dark;
  text-align: center;
  &__title-wrapper {
    min-height: 50px;
    background-color: @color-white;
  }
  &__centered-container {
    box-sizing: border-box;
    max-width: 380px;
    margin: 5px auto;
    padding: 20px;
  }
  &__title {
    font-size: @fs-24;
    line-height: 1.2;
    font-weight: 100;
    margin: 0;
    padding: 15px 0;
  }
  &__items-wrapper {
    box-sizing: border-box;
    max-width: 480px;
    margin: 0 auto;
    padding: 55px 20px;
    padding-bottom: 305px;
  }
  &__items {
    list-style: none;
    padding: 0;
  }
  &__item {
    font-size: @fs-14;
    line-height: @lh-24;
    font-weight: normal;
  }
  &__item-title {
    font-size: @fs-18;
    line-height: @lh-24;
    font-weight: bold;
    color: @color-black;
  }
}

@media (min-width: @tablet-width) {
  .features {
    &__centered-container {
      max-width: 900px;
      padding: 45px 40px;
    }
    &__item {
      padding-bottom: 5px;
    }
    &__title {
      font-size: @fs-40;
      font-weight: 100;
      padding: 0;
    }
    &__items-wrapper {
      text-align: left;
      margin-left: 50%;
      padding: 40px 0;
      padding-right: 40px;
    }
  }
}

@media (min-width: @desktop-width) {
  .features {
    &__centered-container {
      max-width: @desktop-width;
      padding: 70px 130px;
    }
    &__title {
      font-size: @fs-50;
    }
    &__items-wrapper {
      text-align: center;
      max-width: @desktop-width;
      margin: 0;
      padding: 50px 130px;
      padding-top: 300px;
    }
    &__items {
      display: flex;
      justify-content: space-around;
    }
    &__item {
      flex-basis: 250px;
      font-size: @fs-18;
      line-height: @lh-30;
    }
    &__item-title {
      font-size: @fs-30;
      line-height: @lh-30;
    }
  }
}
