.main-menu {
  font-family: opensans, Arial, sans-serif;
}

.main-menu__list {
  text-align: center;
  list-style: none;
  background-color: @color-blue;
}

.main-menu__item {
  color: @color-white;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
}

.main-menu__item:visited {
  color: @color-white;
}

.main-menu__item--active:hover {
  cursor: default;
}
