.page-header {
  margin: 0;
  padding: 20px;
  background-color: @color-black-transp;
}

.main-nav {
  font-size: @fs-18;
  line-height: @lh-32;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: @color-white;
  background-color: @color-blue;
  &__items {
    list-style: none;
    padding: 0;
  }
  &__item {
    text-align: center;
  }
  &__link {
    text-decoration: none;
    color: @color-white;
  }
}
