.page-title {
  margin: 0;
  padding: 20px;
  background-color: @color-blue;
  background: url("../../img/bg-back-mobile@1x.jpg") no-repeat 0 0;
  &__text {
    font-size: @fs-24;
    line-height: @lh-30;
    font-weight: 100;
    color: @color-white;
    text-align: center;
  }
}
