.page-header {
  font-family: @font-family;
  font-size: @fs-18;
  line-height: @lh-32;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: @color-white;
  background-color: @color-black-transp;
  & a {
    text-decoration: none;
    color: @color-white;
  }
}

.main-nav {
  background-color: @color-blue;
}
