.photo-blog {
  &__title {
    font-size: @fs-14;
    line-height: @lh-30;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 48px 10%;
  }
  &__post-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  &__post {
    width: 280px;
    min-height: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    &--panorama {
      width: 100%;
    }
  }
  &__post-picture {
    & img {
      width: 100%;
      vertical-align: top;
    }
  }
  &__post-content {
    margin: 0;
    padding: 10px 20px;
    background-color: @color-white-dark;
    &--panorama {
      margin: 0 20px;
    }
  }
  &__post-author-name {
    font-size: @fs-14;
    line-height: @lh-24;
    font-weight: bold;
    font-style: normal;
  }
  &__post-time {
    font-size: @fs-12;
    line-height: @lh-24;
    font-weight: 100;
    text-transform: uppercase;
  }
  &__post-likes {
    position: relative;
    font-size: @fs-12;
    line-height: @lh-24;
    text-transform: uppercase;
    color: @color-pink-dark;
    padding: 10px 30px;
    &::before {
      content: "";
      position: absolute;
      width: 13px;
      height: 12px;
      bottom: 16px;
      left: 0;
      background: url("../img/icon-heart.svg") no-repeat 0 0;
    }
  }
}

@media (min-width: @tablet-width) {
  .photo-blog {
    &__title {
      font-size: @fs-18;
      padding: 80px 10%;
    }
    &__post-wrapper {
      padding: 20px 40px;
    }
    &__post {
      width: 300px;
      &--panorama {
        width: 100%;
      }
    }
    &__post-content {
      &--panorama {
        margin: 0 40px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .photo-blog {
    &__title {
      padding: 90px 130px;
    }
    &__post-wrapper {
      padding: 20px 130px;
    }
    &__post {
      &--panorama {
        width: 100%;
      }
    }
    &__post-content {
      &--panorama {
        margin: 0 130px;
      }
    }
  }
}
