.popup {
  display: none;
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  width: 320px;
  margin: 0;
  padding: 40px 20px;
  background: @color-white;

  p {
    font-size: @font-size-small;
    font-weight: 100;
    line-height: 1.7;
  }

  &__title {
    margin-bottom: 20px;
    color: @color-black;
    font-size: @font-size-main;
    font-weight: bold;
    line-height: 1.33;
  }

  &__button-wrapper {
    padding: 20px;
    background: @color-grey-light;
  }
}
