.price-slider {
  background: @color-grey-light;
}

.price-slider:before {
  content: '';
  display: block;
  height: 100px;
  background: url('../../img/bg-triangle-white.svg') no-repeat left top;
}
