.price-table {
  .centering();
  border-collapse: collapse;
  background: @color-white;

  th, td {
    box-sizing: border-box;
    min-width: 277px;
    padding: 13px;
  }

  td {
    font-size: @font-size-small;
    font-weight: normal;
    line-height: 2.14;
    text-transform: uppercase;
    border: 2px solid #e5e5e5;
  }

  &__check-icon-yes::before,
  &__check-icon-yes::after,
  &__check-icon-no::before,
  &__check-icon-no::after {
    content: '';
    position: absolute;
    height: 3px;
    border-radius: 5px;
  }

  &__check-icon-yes::before {
    top: 63%;
    left: -1%;
    width: 15px;
    background-color: #3dc644;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &__check-icon-yes::after {
    top: 45%;
    left: 18%;
    width: 31px;
    background-color: #3dc644;
    -webkit-transform: rotate(-47deg);
    -ms-transform: rotate(-47deg);
    transform: rotate(-47deg);
  }

  &__check-icon-no::before {
    top: 45%;
    left: -5%;
    width: 35px;
    background-color: #f25b26;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &__check-icon-no::after {
    top: 45%;
    left: -5%;
    width: 35px;
    background-color: #f25b26;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &__hidden-cell {
    display: none;
  }

  &__title {
    color: @color-white;
    font-size: @font-size-main;
    font-weight: bold;
    line-height: 1.66;
    text-transform: uppercase;
    background: @color-blue-dark;
    border: 2px solid #e5e5e5;
  }

  &__price {
    font-size: @font-size-big;
    font-weight: 100;
    line-height: 1.25;
  }

  &__check-icon-yes,
  &__check-icon-no {
    float: right;
    position: relative;
    width: 35px;
    height: 35px;
    font-size: 0;
  }
}

@media @tablet-width {
  .price-table {

    th, td {
      min-width: 152px;
    }

    td {
      text-transform: none;
    }

    &__hidden-cell {
      display: table-cell;
    }

    &__hide {
      display: none;
    }

    &__title {
      font-size: 16px;
      line-height: 1.87;
    }

    &__price {
      font-size: @font-size-main;
      line-height: 1.66;
    }

    &__check-icon-yes,
    &__check-icon-no {
      float: none;
      .centering();
    }
  }
}

@media @desktop-width {
  .price-table {

    th, td {
      min-width: 233px;
    }

    td {
      font-size: @font-size-main;
      line-height: 1.66;
    }

    &__title {
      font-size: @font-size-main;
      line-height: 1.66;
    }

    &__price {
      font-size: 24px;
      line-height: 1.25;
    }
  }
}
