.price-slider {
  margin: 0;
  padding: 20px;
  background-color: @color-white-dark;
}

.price-table {
  font-size: @fs-14;
  line-height: @lh-30;
  text-transform: uppercase;
  &__title {
    font-size: @fs-18;
    line-height: @lh-30;
    font-weight: bold;
    color: @color-white;
    background-color: @color-blue;
  }
  &__price {
    font-size: @fs-24;
    line-height: @lh-30;
    font-weight: 100;
  }
  & td {
    background-color: @color-white;
  }
}

//tr {
//  border: 2px solid @color-white-dark;
//  border-collapse: collapse;
//}
