.promo {
  display: none;
}

@media (min-width: @tablet-width) {
  .promo {
    display: block;
    background-color: @color-white;
    &__wrapper {
      box-sizing: border-box;
      max-width: 800px;
      margin: 0 auto;
      padding: 80px 40px;
      padding-left: 310px;
      background: url("../img/24-hours.png") no-repeat 40px 60px;
    }
    &__title {
      max-width: 170px;
      font-size: @fs-30;
      line-height: @lh-36;
      font-weight: bold;
      margin: 0;
      color: @color-black;
    }
    &__text {
      padding: 20px 0;
    }
    &__link {
      color: @color-pink-dark;
      &:hover {
        color: @color-blue-dark;
        text-decoration: underline;
      }
      &:active {
        color: rgba(40, 54, 69, 0.3);
        text-decoration: none;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .promo {
    font-size: @fs-18;
    line-height: @lh-30;
    background-color: @color-white-dark;
    &__wrapper {
      max-width: 1200px;
      padding: 80px 130px;
      padding-left: 490px;
      padding-bottom: 110px;
      background: url("../img/24-hours-big.png") no-repeat 130px 0;
    }
    &__title {
      font-size: @fs-30;
      line-height: @lh-30;
      font-weight: bold;
      width: auto;
      max-width: 580px;
      margin: 0;
    }
    &__text {
      width: auto;
    }
  }
}
