.reviews {
  text-align: center;
  &__wrapper {
    max-width: 500px;
    margin: 0 auto;
  }
  &__items {}
  &__item {
    font-size: @fs-14;
    line-height: @lh-30;
    margin: 0;
    padding: 20px;
  }
  &__author-name {
    font-size: @fs-18;
    line-height: @lh-30;
    font-weight: bold;
    font-style: normal;
    color: @color-black;
  }
}

@media (min-width: @tablet-width) {}

@media (min-width: @desktop-width) {}
