.review-slider {
  font-family: opensans, Arial, sans-serif;
  background: @color-white;
}

.review-slider__slide {
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
}

.review-slider__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}
