.reviews-slider {
  text-align: center;
  max-width: 620px;
  margin: 0 auto;
  &__slide {
    display: flex;
    flex-direction: column;
    font-size: @fs-14;
    line-height: @lh-30;
    margin: 0;
    padding: 20px;
  }
  &__author {
    padding: 10px;
  }
  &__author-name {
    font-size: @fs-18;
    line-height: @lh-30;
    font-weight: bold;
    font-style: normal;
    color: @color-black;
  }
  &__author-info {
    display: none;
  }
  &__author-text {
    padding: 10px;
  }
  &__toggle {
    display: inline-block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    margin: 0 8px;
    border: 3px solid transparent;
    border-radius: 50%;
    vertical-align: top;
    background-color: rgba(40, 54, 69, 0.3);
    cursor: pointer;
  }
}

@media (min-width: @tablet-width) {
  .reviews-slider {
    &__slide {
      flex-direction: column-reverse;
    }
    &__author {
      padding: 20px;
    }
    &__author-name {
      font-size: @fs-20;
    }
    &__author-info {
      display: block;
    }
    &__author-text {
      font-size: @fs-18;
      padding: 20px;
    }
  }
}

@media (min-width: @desktop-width) {
  .reviews-slider {
    &__author-name {
      font-size: @fs-24;
    }
  }
}

// СЛАЙДЕР

.reviews-slider {
  position: relative;
  &__input {
    display: none;
  }
  &__slide {
    display: none;
  }
}

#slider-input-1:checked ~ .reviews-slider__slides .reviews-slider__slide:nth-child(1){
  display: block;
}
#slider-input-2:checked ~ .reviews-slider__slides .reviews-slider__slide:nth-child(2){
  display: block;
}
#slider-input-3:checked ~ .reviews-slider__slides .reviews-slider__slide:nth-child(3){
  display: block;
}

#slider-input-1:checked ~ .reviews-slider__toggles label[for="slider-input-1"],
#slider-input-2:checked ~ .reviews-slider__toggles label[for="slider-input-2"],
#slider-input-3:checked ~ .reviews-slider__toggles label[for="slider-input-3"] {
  border: 3px solid rgb(40, 54, 69);
  background-color: transparent;
}
