.user-form {
  &__title {
    font-size: @fs-14;
    line-height: @lh-30;
    text-align: center;
    width: 280px;
    margin: 0 auto;
    padding: 40px 0;
  }
  &__wrapper {
    margin: 0 auto;
  }
}

.hidden {
  display: none;
}

@media (min-width: @tablet-width) {
  .user-form {
    &__title {
      font-size: @fs-18;
      width: 500px;
      padding: 80px 0;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
    }
  }

  .form-send-btn {
    width: 300px;
  }

  .hidden {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .user-form {
    &__title {
      width: 800px;
      padding: 80px 0;
    }
    &__wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

//-----------------------------------------------------

.name-fieldset {
  border: none;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  &__item {
    font-size: @fs-14;
    line-height: @lh-30;
    text-transform: uppercase;
    color: @color-pink-dark;
    margin-left: 20px;
  }
  &__input {
    display: block;
    box-sizing: border-box;
    width: 280px;
    font-size: @fs-18;
    line-height: @lh-30;
    margin: 5px 0 20px;
    padding: 13px 20px;
    border: 2px solid lightgray;
    border-radius: 3px;
  }
  &__input:hover {
    border-color: @color-blue;
  }
  &__input:focus {
    border-color: @color-pink-dark;
    outline: none;
  }
}

@media (min-width: @tablet-width) {
  .name-fieldset {
    order: 1;
    width: 620px;
    padding: 0;
    &__item--wrapper {
      display: flex;
      margin-bottom: 32px;
    }
    &__item {
      margin-top: 20px;
      margin-left: 0;
      margin-right: 20px;
    }
    &__input {
      flex-grow: 1;
    }
  }
}

@media (min-width: @desktop-width) {
  .name-fieldset {
    width: 435px;
    margin: 0 0 0 130px;
    &__item--wrapper {}
    &__item {}
    &__input {}
  }
}

//-----------------------------------------------------

.achievements-fieldset {
  background-color: @color-white-dark;
  margin: 0 auto;
  padding: 20px;
  border: none;
  &__title {
    display: block;
    font-size: @fs-14;
    line-height: @lh-18;
    text-transform: uppercase;
    text-align: center;
    color: @color-pink-dark;
    margin: 0;
    padding: 20px;
    &--desktop {
      display: none;
    }
  }
  &__items {
    width: 280px;
    margin: 0 auto;
  }
  &__item {
    position: relative;
    display: block;
    text-align: left;
    font-size: @fs-18;
    line-height: @lh-30;
    color: @color-blue-dark;
    padding: 25px 0;
    padding-left: 70px;
    cursor: pointer;
  }
}

@media (min-width: @tablet-width) {
  .achievements-fieldset{
    order: 4;
    width: 620px;
    margin-bottom: 40px;
    padding: 20px 0;
    background-color: @color-white;
    border: 2px solid lightgray;
    &__title {
      &--desktop {
        display: block;
      }
      &--mobile-only {
        display: none;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .achievements-fieldset {
    width: 940px;
    margin: 0 130px 40px 130px;
    &__items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 880px;
      margin-left: 60px;
    }
    &__item {
      width: 220px;
      &[for="checkbox-1"] {order: 1;}
      &[for="checkbox-2"] {order: 4;}
      &[for="checkbox-3"] {order: 2;}
      &[for="checkbox-4"] {order: 5;}
      &[for="checkbox-5"] {order: 3;}
      &[for="checkbox-6"] {order: 6;}
    }
  }
}

.achievements-fieldset__item input[type="checkbox"]{
  display: none;
}

.achievements-fieldset__item .checkbox-indicator {
  position: absolute;
  top: 20px;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: @color-white;
  border: 2px solid lightgray;
  border-radius: 3px;
}

.achievements-fieldset__item:hover .checkbox-indicator {
  border-color: @color-blue;
}

.achievements-fieldset__item:active .checkbox-indicator {
  border-color: @color-pink-dark;
}

.achievements-fieldset__item input[type="checkbox"]:checked + .checkbox-indicator:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 3px;
  width: 25px;
  height: 10px;
  border-left: 3px solid @color-pink-dark;
  border-bottom: 3px solid @color-pink-dark;
  transform: rotate(-45deg);
}

//-----------------------------------------------------

.contacts-fieldset {
  border: none;
  width: 280px;
  margin: 0 auto;
  padding: 20px 0 0 0;
  &__title {
    display: block;
    font-size: @fs-14;
    line-height: @lh-18;
    text-transform: uppercase;
    text-align: center;
    color: @color-pink-dark;
    margin: 0;
    padding: 20px;
    &--desktop {
      display: none;
    }
  }
  &__item {
    font-size: @fs-14;
    line-height: @lh-30;
    text-transform: uppercase;
    color: @color-pink-dark;
    margin-left: 20px;
    &--desktop {
      display: none;
    }
  }
  &__input {
    display: block;
    box-sizing: border-box;
    width: 280px;
    font-size: @fs-18;
    line-height: @lh-30;
    margin: 5px 0 20px;
    padding: 13px 20px;
    border: 2px solid lightgray;
    border-radius: 3px;
  }
  &__input:hover {
    border-color: @color-blue;
  }
  &__input:focus {
    border-color: @color-pink-dark;
    outline: none;
  }
}

@media (min-width: @tablet-width) {
  .contacts-fieldset{
    order: 3;
    width: 500px;
    margin-bottom: 40px;
    padding: 20px 60px 0 60px;
    background-color: @color-white;
    border: 2px solid lightgray;
    &__title {
      &--desktop {
        display: block;
      }
      &--mobile-only {
        display: none;
      }
    }
    &__item {
      &--mobile-only {
        display: none;
      }
      &--desktop {
        display: block;
        margin-top: 10px;
        margin-bottom: 30px;
      }
    }
    &__input {
      margin: 0;
      width: 500px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts-fieldset {
    width: 940px;
    margin: -10px 130px 40px 130px;
    &__item-wrapper-left {
      float: left;
    }
    &__item-wrapper-right {
      float: right;
    }
    &__input {
      margin: 0;
      width: 375px;
    }
    &__item {
      margin-bottom: 10px;
    }
  }
}

//-----------------------------------------------------

.application-fieldset {
  background-color: @color-white-dark;
  margin: 0 auto;
  padding: 20px;
  border: none;
  &__title {
    display: block;
    font-size: @fs-14;
    line-height: @lh-18;
    text-transform: uppercase;
    text-align: center;
    color: @color-pink-dark;
    margin: 0;
    padding: 20px;
    &--desktop {
      display: none;
    }
  }
  &__items {
    width: 280px;
    margin: 0 auto;
  }
  &__item {
    position: relative;
    display: block;
    text-align: left;
    font-size: @fs-18;
    line-height: @lh-30;
    color: @color-blue-dark;
    padding: 20px 0;
    padding-left: 70px;
    cursor: pointer;
  }
}

@media (min-width: @tablet-width) {
  .application-fieldset{
    order: 2;
    width: 620px;
    margin-bottom: 40px;
    padding: 0 0 40px 0;
    background-color: @color-white;
    border: 2px solid lightgray;
    &__title {
      &--desktop {
        display: block;
      }
      &--mobile-only {
        display: none;
      }
    }
    &__items {
      width: auto;
      margin: 0 60px;
    }
  }
}

@media (min-width: @desktop-width) {
  .application-fieldset {
    width: 435px;
    margin: -22px 130px 52px 0;
    padding: 0;
  }
}

.application-fieldset__item input[type="radio"]{
  display: none;
}

.application-fieldset__item .radio-indicator {
  position: absolute;
  top: 20px;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: @color-white;
  border: 2px solid lightgray;
  border-radius: 50%;
}

.application-fieldset__item:hover .radio-indicator {
  border-color: @color-blue;
}

.application-fieldset__item:active .radio-indicator {
  border-color: @color-pink-dark;
}

.application-fieldset__item input[type="radio"]:checked + .radio-indicator:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: @color-pink-dark;
}

//-----------------------------------------------------

.review-fieldset {
  border: none;
  width: 280px;
  margin: 0 auto;
  padding: 20px 0 0 0;
  &__title {
    display: block;
    font-size: @fs-14;
    line-height: @lh-18;
    text-transform: uppercase;
    text-align: center;
    color: @color-pink-dark;
    padding: 20px 40px;
    &--desktop {
      display: none;
    }
  }
  &__text {
    display: block;
    box-sizing: border-box;
    width: 280px;
    height: 200px;
    font-size: @fs-18;
    line-height: @lh-30;
    margin: 5px 0 20px;
    padding: 13px 20px;
    border: 2px solid lightgray;
    border-radius: 3px;
    resize: none;
  }
  &__text:hover {
    border-color: @color-blue;
  }
  &__text:focus {
    border-color: @color-pink-dark;
    outline: none;
  }
}

@media (min-width: @tablet-width) {
  .review-fieldset{
    order: 5;
    width: 620px;
    margin-bottom: 60px;
    padding: 20px 0;
    background-color: @color-white;
    border: 2px solid lightgray;
    &__title {
      &--desktop {
        display: block;
      }
      &--mobile-only {
        display: none;
      }
    }
    &__text {
      width: 500px;
      margin: 0 60px 25px 60px;
    }
  }
}

@media (min-width: @desktop-width) {
  .review-fieldset {
    width: 940px;
    margin: 0 130px 65px 130px;
    &__text {
      width: 820px;
      height: 122px;
    }
  }
}

//-----------------------------------------------------

.form-send-btn {
  display: block;
  cursor: pointer;
  font-size: @fs-18;
  line-height: @lh-30;
  font-weight: bold;
  text-transform: uppercase;
  color: @color-white;
  background-color: @color-green-transp;
  box-sizing: border-box;
  width: 280px;
  height: 63px;
  margin: 25px auto;
  border: none;
  border-radius: 3px;
  outline: none;
}

.form-send-btn:hover {
  color: @color-white;
  background-color: @color-green;
}

.form-send-btn:active {
  color: @color-white-transp;
  outline: none;
}

.form-send-info {
  display: block;
  font-size: @fs-14;
  line-height: @lh-30;
  text-transform: uppercase;
  text-align: center;
  margin: 25px auto;
}

.color-pink-dark {
  color: @color-pink-dark;
}

.hidden {
  display: none;
}

@media (min-width: @tablet-width) {
  .form-send__wrapper {
    order: 6;
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .form-send-btn {
    width: 300px;
    margin: 0;
  }
  .form-send-info {
    margin: 20px 0;
  }
}

@media (min-width: @desktop-width) {
  .form-send__wrapper {
    width: 940px;
    margin: 0 130px 0 130px;
    & .visually-hidden {
      display: inline;
    }
  }

  .hidden {
    display: inline;
  }
}
