.user-form {
  &__title {
    font-size: @fs-14;
    line-height: @lh-30;
    text-align: center;
    width: 280px;
    margin: 0 auto;
    padding: 40px 0;
  }
  &__wrapper {
    margin: 0 auto;
  }
}

.hidden {
  display: none;
}

@media (min-width: @tablet-width) {
  .user-form {
    &__title {
      font-size: @fs-18;
      width: 500px;
      padding: 80px 0;
    }
    &__wrapper {}
  }

  .form-send-btn {
    width: 300px;
  }

  .hidden {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .user-form {
    &__title {
      width: 820px;
      padding: 80px 0;
    }
    &__wrapper {}
  }
}

//-----------------------------------------------------

.name-fieldset {
  border: none;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  &__item {
    font-size: @fs-14;
    line-height: @lh-30;
    text-transform: uppercase;
    color: @color-pink-dark;
    margin-left: 20px;
  }
  &__input {
    display: block;
    box-sizing: border-box;
    width: 280px;
    font-size: @fs-18;
    line-height: @lh-30;
    margin: 5px 0 20px;
    padding: 13px 20px;
    border: 2px solid @color-white-dark;
    border-radius: 3px;
  }
  &__input:hover {
    border-color: @color-blue;
  }
  &__input:focus {
    border-color: @color-pink-dark;
    outline: none;
  }
}

@media (min-width: @tablet-width) {
  .name-fieldset {
    width: 620px;
    padding: 0;
    &__item--wrapper {
      display: flex;
    }
    &__item {
      margin-top: 20px;
      margin-left: 0;
      margin-right: 20px;
    }
    &__input {
      flex-grow: 1;
    }
  }
}

//-----------------------------------------------------

.achievements-fieldset {
  background-color: @color-white-dark;
  padding: 20px;
  border: none;
  &__title {
    display: block;
    font-size: @fs-14;
    line-height: @lh-18;
    text-transform: uppercase;
    text-align: center;
    color: @color-pink-dark;
    margin: 0;
    padding: 20px;
    &--desktop {
      display: none;
    }
  }
  &__items {
    width: 280px;
    margin: 0 auto;
  }
  &__item {
    position: relative;
    display: block;
    text-align: left;
    font-size: @fs-18;
    line-height: @lh-30;
    color: @color-blue-dark;
    padding: 25px 0;
    padding-left: 70px;
    cursor: pointer;
  }
}

.achievements-fieldset__item input[type="checkbox"]{
  display: none;
}

.achievements-fieldset__item .checkbox-indicator {
  position: absolute;
  top: 20px;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: @color-white;
  border: 2px solid lightgray;
  border-radius: 3px;
}

.achievements-fieldset__item:hover .checkbox-indicator {
  border-color: @color-blue;
}

.achievements-fieldset__item:active .checkbox-indicator {
  border-color: @color-pink-dark;
}

.achievements-fieldset__item input[type="checkbox"]:checked + .checkbox-indicator:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 3px;
  width: 25px;
  height: 10px;
  border-left: 3px solid @color-pink-dark;
  border-bottom: 3px solid @color-pink-dark;
  transform: rotate(-45deg);
}

//-----------------------------------------------------

.contacts-fieldset {
  border: none;
  width: 280px;
  margin: 0 auto;
  padding: 20px 0 0 0;
  &__item {
    font-size: @fs-14;
    line-height: @lh-30;
    text-transform: uppercase;
    color: @color-pink-dark;
    margin-left: 20px;
  }
  &__input {
    display: block;
    box-sizing: border-box;
    width: 280px;
    font-size: @fs-18;
    line-height: @lh-30;
    margin: 5px 0 20px;
    padding: 13px 20px;
    border: 2px solid @color-white-dark;
    border-radius: 3px;
  }
  &__input:hover {
    border-color: @color-blue;
  }
  &__input:focus {
    border-color: @color-pink-dark;
    outline: none;
  }
}

//-----------------------------------------------------

.application-fieldset {
  background-color: @color-white-dark;
  padding: 20px;
  border: none;
  &__title {
    display: block;
    font-size: @fs-14;
    line-height: @lh-18;
    text-transform: uppercase;
    text-align: center;
    color: @color-pink-dark;
    margin: 0;
    padding: 20px;
    &--desktop {
      display: none;
    }
  }
  &__items {
    width: 280px;
    margin: 0 auto;
  }
  &__item {
    position: relative;
    display: block;
    text-align: left;
    font-size: @fs-18;
    line-height: @lh-30;
    color: @color-blue-dark;
    padding: 20px 0;
    padding-left: 70px;
    cursor: pointer;
  }
}

.application-fieldset__item input[type="radio"]{
  display: none;
}

.application-fieldset__item .radio-indicator {
  position: absolute;
  top: 20px;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: @color-white;
  border: 2px solid lightgray;
  border-radius: 50%;
}

.application-fieldset__item:hover .radio-indicator {
  border-color: @color-blue;
}

.application-fieldset__item:active .radio-indicator {
  border-color: @color-pink-dark;
}

.application-fieldset__item input[type="radio"]:checked + .radio-indicator:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: @color-pink-dark;
}

//-----------------------------------------------------

.review-fieldset {
  border: none;
  width: 280px;
  margin: 0 auto;
  padding: 20px 0 0 0;
  &__title {
    display: block;
    font-size: @fs-14;
    line-height: @lh-18;
    text-transform: uppercase;
    text-align: center;
    color: @color-pink-dark;
    padding: 20px 40px;
    &--desktop {
      display: none;
    }
  }
  &__text {
    display: block;
    box-sizing: border-box;
    width: 280px;
    height: 200px;
    font-size: @fs-18;
    line-height: @lh-30;
    margin: 5px 0 20px;
    padding: 13px 20px;
    border: 2px solid @color-white-dark;
    border-radius: 3px;
    resize: none;
  }
  &__text:hover {
    border-color: @color-blue;
  }
  &__text:focus {
    border-color: @color-pink-dark;
    outline: none;
  }
}

//-----------------------------------------------------

.form-send__wrapper {}

.form-send-btn {
  display: block;
  cursor: pointer;
  font-size: @fs-18;
  line-height: @lh-30;
  font-weight: bold;
  text-transform: uppercase;
  color: @color-white;
  background-color: @color-green-transp;
  box-sizing: border-box;
  width: 280px;
  min-height: 63px;
  margin: 25px auto;
  border: none;
  border-radius: 3px;
  outline: none;
}

.form-send-btn:hover {
  color: @color-white;
  background-color: @color-green;
}

.form-send-btn:active {
  color: @color-white-transp;
  outline: none;
}

.form-send-info {
  display: block;
  font-size: @fs-14;
  line-height: @lh-30;
  text-transform: uppercase;
  text-align: center;
  margin: 25px auto;
}

.color-pink-dark {
  color: @color-pink-dark;
}
